.DS_Store
node_modules/
/dist/
/static/logo*.svg
npm-debug.log*
yarn-debug.log*
yarn-error.log*
swifty.config.json
nginx.conf

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
swifty.config.json
